<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Mood Player</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1><strong>{{ name }}</strong>님 반가워요!</h1>
        <h1>오늘 당신의 감정에 어울리는 노래는...</h1>
        <div class="content">
            <div class="current-info">
                <p>오늘의 감정: <strong>{{ emotion }}</strong></p>
                <p>오늘의 노래: <strong>{{ track_name }}</strong> by <strong>{{ track_artist }}</strong></p>
                <button onclick="window.location.href='{{ url_for('play', _external=True) }}?restart=true'">다시 시작</button>
            </div>
            <div class="webcam">
                <h2>Live Cam</h2>
                <img id="webcam" src="{{ url_for('video_feed') }}">
            </div>
            <div class="past-emotions">
                <h2>과거 감정 이력</h2>
                <ul>
                    {% for past_emotion, timestamp in past_emotions %}
                        <li>{{ timestamp }}: {{ past_emotion }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
